
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5DC;
    color: #2F4F4F;
    font-family: Jost;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.menu-bar{
    background-color: #2F4F4F;
    height: 7.1rem;
}

nav{
    max-width: 1120px;
    margin:auto;
    padding:15px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    
}

.menu{
    display: flex;
    flex-direction: row;
    gap:24px ;
    color:#FFFFFF;
}

main{
    display: flex;
    flex-direction: column;
    gap:140px
}

.hero{
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    padding:0rem 2rem;
    margin: auto;

    overflow: clip;

    
}

.hero-title{
    font-size:3rem;
}

hr{
    border-color: #2F4F4F;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-texto{
    font-weight: 500;
    font-size: 1rem;
}

.hero-imagens-container{
    max-width: 45%;
    column-count: 2;
    column-gap: 1rem;
    margin: -1rem;
    margin-top: 3rem;
}

.hero-imagens-container > figure > img{
    width: 100%;
    border-radius: 0.5rem;

}

.hero-button{
    background-color: #2F4F4F;
    max-width: 40%;
    height: 3rem;
    margin-top: 1rem;
    color: #FFFFFF;
    border: none;
    border-radius: 2rem;

    margin-top: 2rem;

    font-size: 1rem;

    cursor: pointer;
    transition: background-color 0.5s ease;

}

.hero-button:hover{
    background-color: #FFFFFF;
    color: #2F4F4F;
    font-weight: bold;
    border: solid 1px;
    border-color: #2F4F4F;
}


.salas-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}

.title-sala-section{
    font-size: 3rem;
}

.sala-menu{
    max-width: 1120px;
    width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sala-button{
    background-color: #2F4F4F;
    max-width: 100%;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: background-color 0.5s ease;

}

.sala-button:hover{
    background-color: #FFFFFF;
    color: #2F4F4F;
    font-weight: bold;
    border: solid 1px;
    border-color: #2F4F4F;
}

.button-sala-container{
    margin-bottom: 5px;
    width: 20%;
}

.sala{
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    overflow: clip;

    transition: opacity 0.5s ease, visibility 0.5s ease;

}

.sala-conteudo{
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h3{
    font-size:2rem;
}

.sala-img{
    width: 100%;
    border-radius: 1rem;
}

.invisivel {
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.galeria{
    max-width: 100%;
    height: 40%;
    margin-top: 3rem;
    gap:1rem;

    display: flex;
    flex-direction: row;


}


.pacotes-section{
    max-width: 1120px;
    height: 65vh;
    margin:auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;
    
}

.pacotes-artigos{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.texto-pacotes{
    max-width: 32%;
    height: 100%;
    padding:0.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    border: solid 1px;
    border-radius: 1rem;
    border-color: #2F4F4F;
    
}

.contato-section{
    max-width: 1120px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items:center;
    gap:4rem;

    padding:0rem 2rem;
    margin: auto;
    margin-top: 5rem;
}

#btnwhatsapp{
    width: 60%;
    height: 3rem;
    border-radius: 2rem;

    background-color:#25D366 ;
    border: #25D366;
    color: #FFFFFF;
}

#btnwhatsapp:hover{
    height: 3.5rem;
    font-size: 1rem;
}
